<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Post Details</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
	integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
	crossorigin="anonymous" />
<link rel="stylesheet" href="/css/post-details.css" />
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div th:insert="fragments/navbar :: navbar"></div>
	<div class="container">
		<div class="card post-details" style="width: 40rem;">
			<div class="card-body">
				<h3 class="card-title" th:text="${postDetails.title}"></h3>
				<p class="card-text" th:text="${postDetails.description}"></p>
			</div>
			<div class="like-unlike">
				<button class="dislike">
					<i class="fa fa-thumbs-o-down" id="dislike-btn" aria-hidden="true"></i>
					<em class="like-unlike-count" id="dislike-count">20</em>
				</button>

				<button class="like">
					<i class="fa fa-thumbs-o-up" id="like-btn" aria-hidden="true"></i>
					<em class="like-unlike-count" id="like-count">10</em>
				</button>
			</div>
		</div>

		<!--  Comment Box -->
		<div class="comment" style="margin-top: 3rem">
			<div class="row d-flex align-items-center">

				<div class="col-md-6 comments-section">
					<!--====COMMENT AREA START====-->
					<div class="row" sec:authorize="isAuthenticated()">
						<div class="col-12">

							<form class="comment-form" style="width: 40rem;" method="post"
								th:action="@{'/posts/' + ${postDetails.id} + '/comments' }"
								th:object="${commentDomain}">
								<textarea class="comment-area" name="review"
									style="height: 10rem; border: 1px solid antiquewhite;"
									placeholder="Write your comment here" th:field="*{review}"></textarea>
								<em th:if="${#fields.hasErrors('review')}" th:errors="*{review}"></em>
								<button type="submit" class="btn  comment-btn">Post</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			
				<div class="col-md-8 alert alert-danger"
				th:if="${comments.size() <= 0}"
				>
				No comments in this post.
				</div>
			
				<div class="col-md-8" th:if="${comments.size() > 0}">
					<h2 class="page-header">Comments</h2>
					<section class="comment-list">
						<!-- Comment List -->
						<article class="row" th:each="comment : ${comments}">
							<div class="col-md-2 col-sm-2 hidden-xs">
								<figure class="thumbnail">
									<img class="img-responsive" height="100px"
										src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
									<figcaption class="text-center">username</figcaption>
								</figure>
							</div>
							<div class="col-md-10 col-sm-10">
								<div class="panel panel-default arrow left">
									<div class="panel-body">
										<header class="text-left">
											<div class="comment-user">
												<div class="row">
													<div class="col-md-10">
														<i class="fa fa-user"></i><em>EMAIL</em>
													</div>
													<div class="col-md-2">
														<a href="#"> <i class="fa fa-trash-o"></i></a>
													</div>
												</div>
											</div>
											<time class="comment-date">
												<i class="fa fa-clock-o" th:text="${#calendars.format(comment.createdOn,'d MMM yyyy HH:MM')}"></i>
											</time>
										</header>
										<div class="comment-post">
											<p th:text="${comment.review}"></p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</section>
				</div>
			</div>

		</div>
	</div>
</body>
</html>